/*https://github.com/roisete/Proyecto-EV1-ROI*/
/*https://github.com/roisete/roisete.github.io*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /*Variables de colores*/
  --clr-main: #45880e;
  --clr-main-light: #73ff00;
  --clr-white: #fff7e5;
  --clr-gray: #e2e2e2;
  --clr-green: #316b0a;
  --clr-red: #961818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  /* Valor por defecto */
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.texto-footer {
  color: var(--clr-main-light);
  font-size: 0.85rem;
}
